# ============================================
# BaPCod Parameters — VSP Project
# ============================================
 
# --- Tiempo y nodos ---
GlobalTimeLimit = 28800
MaxNbOfBBtreeNodeTreated = 5000
DEFAULTPRINTLEVEL = 0
 
# --- Solver ---
solverName = GUROBI_SOLVER
 
# --- Estrategia de búsqueda ---
# 0 = best-first, 1 = depth-first
treeSearchStrategy = 0
OpenNodesLimit = 200
 
# --- Generación de columnas (VRPSolver) ---
colGenSubProbSolMode = 3
MaxNbOfStagesInColGenProcedure = 3
RCSPmaxNumOfColsPerIteration = 30
 
RCSPmaxNumOfColsPerExactIteration = 150
RCSPstopCutGenTimeThresholdInPricing = 20
RCSPhardTimeThresholdInPricing = 40
RCSPuseBidirectionalSearch = 0
RCSPnumberOfBucketsPerVertex = 40
RCSPdynamicBucketSteps = 1
RCSPapplyReducedCostFixing = 0
ReducedCostFixingThreshold = 0.9
RCSPmaxNumOfLabelsInEnumeration = 0
RCSPmaxNumOfEnumeratedSolutions = 0
RCSPmaxNumOfEnumSolutionsForMIP = 0
RCSPrankOneCutsMaxNumPerRound = 100
RCSPrankOneCutsMaxNumRows = 5
RCSPrankOneCutsMemoryType = 2
 
 
# --- Cortes ---
CutTailingOffThreshold = 0.005
CutTailingOffCounterThreshold = 3
 
# --- Strong branching ---
SimplifiedStrongBranchingParameterisation = true
StrongBranchingPhaseOneCandidatesNumber = 10
StrongBranchingPhaseOneTreeSizeEstimRatio = 0.3
StrongBranchingPhaseTwoCandidatesNumber = 3
StrongBranchingPhaseTwoTreeSizeEstimRatio = 0.1
 
# --- Heurísticas ---
MaxTimeForRestrictedMasterIpHeur = -1
 
CallFrequencyOfRestrictedMasterIpHeur = 0
RoundingColSelectionCriteria = 4 6 9
GenerateProperColumns = true
 
MIPemphasisInRestrictedMasterIpHeur = 1
DivingHeurUseDepthLimit = 20
CallFrequencyOfDivingHeur = 1
FixIntValBeforeRoundingHeur = false
MaxNbOfCgIteDuringRh = 300
mastInitMode = 3
colGenDualPriceSmoothingAlphaFactor = 1.0
colGenDualPriceSmoothingBetaFactor = 0.0
LocalSearchHeurUseDepthLimit = 5
